body {
  padding-top: 81px;  /* Move body of page below navbar. */
}

.navbar-brand {
  padding-top: 0px;
}

.navbar-inverse {
  height: 81px;
  background-image: url('imgs/bg-carbon.jpg');
}

.navbar-inverse .navbar-nav>li>a {
  font-family: Lucida Grand, sans-serif;
  font-size: 1.15em;
  font-weight: bold;
  color: #E5EDDC;
  text-align: center;
  width: 8em;
}

.canoes {
  background-image: url('imgs/pueo-canoes-front.jpg');
  background-size: cover;
  background-position: center;
  height: 385px;
}

.tagline {
  background-color: black;
  height: 131px;
  text-align: center;
}

.tagline h2 {
  font-family: Georgia, Times;
  font-size: 3em;
  color: #666;
  margin: 0px;
  padding-top: 30px;
  font-weight: 700;
}